.header {
  display: flex;
  justify-content: space-between;
  padding: 79px 170px 0 170px;
  background-image: linear-gradient(222.26deg, #3B1D60 1.22%, #040D3E 106.28%);
}
.nav {
  &__list {
    display: flex;
  }
  &__item {
    margin-right: 21px;
    &:last-child {
      margin-right: 0;
    }
  }
  &__link {
    color: #B5B5B5;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    text-decoration: none;
    text-transform: uppercase;
  }
}