.header {
  display: flex;
  justify-content: space-between;
  &__btns { 
    display: flex;
  }
  &__btn {
    &:first-child {
      margin-right: 20px;
    }
  }
}
.nav {
  &__list {
    display: flex;
  }
  &__item {
    margin-right: 21px;
    &:last-child {
      margin-right: 0;
    }
  }
  &__link {
    color: #B5B5B5;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    text-decoration: none;
    text-transform: uppercase;
  }
}

@media (max-width: 768px) {
  .nav {
    display: none;
  }
}

